@model SummaryCoursePageModel

@{
    ViewData["Title"] = "Course summary";
}


<h2>Items List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Enrollments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CourseList ?? throw new NullReferenceException("CourseList is null."))
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CourseName</td>
                <td>@item.EnrollmentCount</td>
            </tr>
        }
    </tbody>
</table>